.navbar{
    height: 60px;
    font-family: "Cinzel", serif;
    display: flex;
    justify-content: center;
    align-items: center;

    .title{
        font-size: 28px;
        font-weight: 400;
    }


}