.navbar {
    height: 60px;
    font-family: "Cinzel", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
        font-size: 28px;
        font-weight: 400;
    }

    .logout{
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ebd6a2;
        padding: 8px 16px;
        border: none;
    }


}